* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: end;
  background: rgba(255, 255, 255, 0.353); /* Fondo de color rojo */
  padding-right: 10px;
  width: auto; /* Ancho de 150 píxeles */
  height: 90px; /* Alto de 150 píxeles */
  align-items: center;
  align-content: space-between;
  row-gap: 100px;
}

#titulo {
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
  border: transparent;
}

#titulo:hover {
  text-shadow: 3px 3px 1px rgb(0, 255, 242), 5px 5px 2px rgb(255, 0, 128),
    8px 8px 3px blue;
}

#proyectos {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
  border: transparent;
}
#proyectos:hover {
  text-shadow: 3px 3px 1px rgb(0, 255, 242), 5px 5px 2px rgb(255, 0, 128),
    8px 8px 3px blue;
}

#sobre {
  margin-left: 1%;
  margin-right: 1%;
  border: transparent;
  margin-bottom: 3%;
}
#sobre:hover {
  text-shadow: 3px 3px 1px rgb(0, 255, 242), 5px 5px 2px rgb(255, 0, 128),
    8px 8px 3px blue;
}

#logo {
  margin-left: 1%;
  margin-right: 1%;
  border: transparent;
  margin-bottom: 3%;
  order: -1;
  justify-self: start;
  flex-grow: 1;
}

@keyframes color {
  from {
    background-position: 100% 50%;
  }

  to {
    background-position: 100% 20%;
  }
}

h1 {
  color: #1b262c;
  padding-top: 30px;
}
.fondo {
  display: flex;
  position: relative;
  flex-direction: column;
  animation: color 50s linear infinite;
  background-size: 400%;

  background-image: url(img/18824.jpg);
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10% 10% 0% 5%;
}
.cuadrado {
  display: flex;
  float: right;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-left: 1%;
  padding-right: 3%; /*
  margin-left: 50%;
  margin-right: 10%;*/
  background: linear-gradient(
    rgba(124, 103, 230, 0.737),
    rgba(232, 139, 255, 0.593)
  );
  background-size: cover;
  margin-left: 20px;
}

#lista {
  padding: 20px;
}

.imagen {
  width: 90%;
  height: auto;
}

@media screen and (max-width: 700px) {
  body {
    padding: 170px 0 0 0;
    width: 100%;
  }
}

a {
  color: inherit;
}

.menu-item,
.menu-open-button {
  background: #eeeeee;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background: #596778;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  display: flex;
  margin-top: 60px;
  margin-left: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

/* .menu-item {
  transition: all 0.1s ease 0s;
} */

.menu-item:hover {
  background: #eeeeee;
  color: #3290b1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0);
}

.green {
  background-color: #70cc72;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url(img/hombre.png);
  background-size: cover;
}

.green:hover {
  color: #70cc72;
  text-shadow: none;
}

.red {
  background-color: #fe4365;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url(img/telefono.png);
  background-size: cover;
}

.red:hover {
  color: #fe4365;
  text-shadow: none;
}

.purple {
  background-color: #c49cde;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url(img/gestion-de-proyectos.png);
  background-size: cover;
}

.purple:hover {
  color: #c49cde;
  text-shadow: none;
}

.lightblue {
  background-color: #62c2e4;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
  color: #62c2e4;
  text-shadow: none;
}

.credit {
  margin: 24px 20px 120px 0;
  text-align: right;
  color: #eeeeee;
}

.credit a {
  padding: 8px 0;
  color: #c49cde;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.credit a:hover {
  text-decoration: underline;
}
